@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}


:root {
    --Blue-950: hsl(256, 26%, 20%);
    --Blue-500: hsl(216, 30%, 68%);

    --Gray-950: hsl(270, 9%, 17%);
    --Gray-700: hsl(273, 4%, 51%);
    --Gray-50: hsl(0, 0%, 98%);
}


.Blue-950 {
    background-color: hsl(256, 26%, 20%);
    color: white;
}

.Blue-500 {
    background-color: hsl(216, 30%, 68%);
}

.Gray-950 {
    color: hsl(270, 9%, 17%);
}

.Gray-700 {
    color: hsl(273, 4%, 51%);
}

.Gray-50 {
    background-color: hsl(0, 0%, 98%);
}




h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Serif Display', serif;
}


.DMSerif {
    font-family: "DM Serif Display";
}


.karla7 {
    font-weight: 700;
}

.karla4 {
    font-weight: 300;
}

.text-justify {
    text-align: justify;
}


.nav-item .nav-link:hover {
    color: black;
}


img {
    pointer-events: none;
}


ul {
    padding-left: 0;
}


.top-header {
    overflow: hidden;
}


.footer .social-network ul li {
    display: inline-block;
    cursor: pointer;
}


.footer .social-network ul li a:hover svg path {
    fill: black;
    transition: fill 0.3s ease-in-out;
}

.footer .footer-menu ul li {
    list-style: none;
    cursor: pointer;
}

.footer .footer-menu ul li:first-child {
    color: hsl(273, 4%, 51%);
    font-weight: bold;
}

.footer .footer-menu ul li+li:hover {
    text-decoration: underline;
}

.different {
    padding-top: 250px;
}

.border-different {
    border-top: 1px solid;
    width: 10%;
    margin-bottom: 5%;
    color: hsl(273, 4%, 51%);
}




/* تغییر آیکون همبرگر ↔ کلوز در موبایل */
/* .hamburger-icon {
    transition: opacity 0.2s ease;
}

.hamburger-icon.closed {
    opacity: 0;
    position: absolute;
}

.hamburger-icon.opened {
    opacity: 1;
}
 */


@media screen and (max-width:375px) {
    body {
        text-align: center;
    }

    .top-header {
        overflow: visible;
    }

    .different {
        padding-top: 150px;
        /* text-align: center; */
        font-size: 40px;
    }

    .border-different {
        border-top: 1px solid;
        width: 30%;
        margin: auto;
    }

    .title-different {
        margin-top: 10%;
    }

    /* .card {
        text-align: center;
    } */

    .card .icon-img {
        margin: auto;
    }

    /* .navbar-collapse.show {
        background-color: var(--Blue-950);
        margin-top: 20px;
        padding-top: 30px !important;
        padding-bottom: 100px !important;
        position: relative;
    }

    .navbar-collapse.show .navbar-nav .nav-link {
        color: white !important;
        font-size: 1.25rem;
    }

    .navbar-collapse.show .btn-outline-dark {
        color: white;
        border-color: white;
    }

    .mobile-nav-pattern {
        display: none;
    }

    .navbar-collapse.show .mobile-nav-pattern {
        display: block;
        z-index: -1;
    }
    .navbar-toggler:not(.collapsed) .hamburger-icon {
        opacity: 0;
    }

    .navbar-toggler:not(.collapsed)::after {
        content: '';
        background: url('/images/icon-close.svg') no-repeat center center;
        background-size: contain;
        width: 26px;
        height: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */



}


@media screen and (max-width: 991px) {

    /* تغییر آیکون منو */
    .navbar-toggler {
        border: none;
        padding: 0;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler-icon {
        background-image: url('/images/icon-hamburger.svg') !important;
        width: 30px;
        height: 24px;
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        background-image: url('/images/icon-close.svg') !important;
        width: 26px;
        height: 26px;
    }

    /* استایل منوی باز شده */
    .navbar-collapse {
        top: 90px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 2rem 1rem !important;
        margin: 0;
        z-index: 1000;
        overflow-y: auto;
        /* transform: translateX(100%); */
        /* transition: transform 0.3s ease-in-out; */
    }

    .navbar-collapse.show {
        transform: translateX(0);
    }

    .navbar-nav {
        text-align: center;
        margin-bottom: 2rem;
    }

    .navbar-nav .nav-link {
        color: white !important;
        font-size: 1.2rem;
        padding: 1rem 0;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .navbar-nav .nav-link:hover {
        color: var(--Gray-700) !important;
    }

    /* استایل دکمه در منوی موبایل */
    .navbar-collapse .btn {
        width: 100%;
        margin: 1rem 0 0 0 !important;
        background-color: transparent !important;
        color: white;
        border: 2px solid white;
        padding: 0.75rem;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
    }



    /* اضافه کردن الگوی پس‌زمینه */
    .navbar-collapse {
        background-image: url('/images/bg-pattern-mobile-nav.svg');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
        background-color: hsl(270, 9%, 17%);
    }

    /* اضافه کردن overlay برای محتوای زیرین */
    .navbar-collapse::before {
        content: '';
        position: fixed;
        top: 96px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    /* تنظیم موقعیت container نوبار */
    .navbar>.container {
        position: relative;
        z-index: 1001;
    }
}